

<h1>Search Results for <%= params[:q] %>
<p> Found <%= pluralize(@results.size, 'result') %></p>
<% @results.results.each do |result| %>
  <%= link_to(result.name, menu_item_path(result.id)) %>
<% end %>
